header {
	background-color: white;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	display:flex;
	align-items: center;
}

header a{
	background-image: url("../images/logo.png");
	display:block;
	width: 142px;
	height: 70px;
	background-position: center;
	background-repeat: no-repeat;
	margin-left: 20px;
}